.button {
   background: none;
   padding: 0;
   border: none;
   color: #FFFFFF;

   font-family: 'Exo 2', sans-serif;
   font-weight: 700;
   font-size: 17px;

   cursor: pointer;
}

.button_line {
   margin-top: 5px;
   height: 2px;
   width: 0px;

   background-color: red;

   transition: .3s;
}

.button:hover .button_line {
   width: 15px
}