.header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100%;
}

.logoConteiner {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 320px;
}

@media screen and (max-width: 1000px) {

   .header {
      padding: 0 20px;
   }

}

@media screen and (max-width: 700px) {

   .header {
      flex-direction: column;
      padding: 0
   }

}

@media screen and (max-width: 350px) {

   .logoConteiner {
      width: 100%;
   }

}