.header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100%;
}

.logoConteiner {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 320px;
}