body {
   background-color: #373e5a;
   color: #FFFFFF;

   font-family: 'Exo 2', sans-serif;
   font-weight: 400;

   margin: 0;
}

h1 {
   font-weight: 100;
}

h2 {
   font-weight: 700;
   font-size: 30px;
   color: #ffffff;
}
