.banner {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 500px;
   background-image: url('../../../public/images/bgBanner.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   z-index: -1;
}

.banner:before{
   content: ' ';
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: #00000090;
}

.banner::after{
   content: ' ';
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: #00000050;
}

.banner_contentLeft {
   z-index: 2;
   width: 50%;
   display: flex;
   flex-direction: column;
   padding: 30px;
   box-sizing: border-box;
}

.contentLeft_title {
   font-weight: 700;
   margin: 10px;
   font-size: 50px;
}

.contentLeft_window {
   height: 80px;
   overflow: hidden;
}

.window_tape {
   transition: .3s;
}

.tape_unit {
   display: flex;
   align-items: center;
   height: 80px;
   margin: 0;
}

.banner_contentRight {
   display: flex;
   align-items: center;
   z-index: 1;
   position: relative;
   width: 50%;
}

.contentRight_image {
   position: absolute;
   left: 0;
   opacity: 0;
   transition: .3s;
   width: 480px;
} 

.image_active {
   opacity: 1;
}

@media screen and (max-width: 1000px) {

   .banner {
      flex-direction: column;
      height: auto;
   }

   .banner_contentLeft {
      width: 80%;
   }

   .banner_contentRight {
      height: 406px;
      width: 100%;
   }

   .contentRight_image {
      left: 20%;
   }

}

@media screen and (max-width: 1000px) {

   .contentRight_image {
      left: 15%;
   }

}

@media screen and (max-width: 600px) {
    
   .contentRight_image {
      width: 300px;
      left: 20%
   }

   .banner_contentLeft {
      width: 100%;
   }

}

@media screen and (max-width: 425px) {
    
   .contentRight_image {
      left: 10%
   }

   .contentLeft_title {
      font-size: 37px;
      margin-left: 0;
   }

}

@media screen and (max-width: 375px) {
    
   .contentRight_image {
      left: 5%
   }

}

@media screen and (max-width: 320px) {
    
   .contentRight_image {
      left: auto
   }

}